body {
  background-color: #f0f8ff; /* Light blue background */
  color: #333; /* Darker text color for readability */
  font-family: 'Arial', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  pointer-events: none;
  margin-right: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #4682b4; /* Steel blue */
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav {
  background-color: #5a9bd4; /* Lighter steel blue */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  color: #f0f8ff; /* Light blue */
}

h1, h2, h3, h4, h5, h6 {
  color: #2b2834; /* Darker blue for headings */
}

button {
  background-color: #4682b4; /* Steel blue */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #5a9bd4; /* Lighter steel blue */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #ffffff; /* White background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table th, table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #4682b4; /* Steel blue */
  color: white;
}

table tr:nth-child(even) {
  background-color: #f0f8ff; /* Light blue */
}

table tr:hover {
  background-color: #e0ffff; /* Light cyan */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-card {
  background-color: #ffffff; /* White background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
}

.custom-heading {
  color: #2b2834; /* Darker blue for headings */
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #ffffff; /* White background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-table th, .custom-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.custom-table th {
  background-color: #4682b4; /* Steel blue */
  color: white;
}

.custom-table tr:nth-child(even) {
  background-color: #f0f8ff; /* Light blue */
}

.custom-table tr:hover {
  background-color: #e0ffff; /* Light cyan */
}
